---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ContentSection from "~/components/content-section.astro";
import logo from '~/assets/icon.png'
---

<ContentSection title="Du har frågor. Vi har svar." id="intro">
  
  
  <Fragment slot="lead">
    
  <span class="text-primary">EkonoMe är en banbrytande tjänst
      inom ekonomisk rådgivning. Våra
      ekonomer gör det möjligt för dig att
      få snabba och specifika svar genom
      videosamtal, direkt i mobilen</span> 
    
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <!-- <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a> -->
  </div>
</ContentSection>
