---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import astronautImage from "~/assets/astronaut.png";
import HeroImage from "~/components/hero-image.astro";
import hem from '~/assets/hem.jpeg'
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import logo from '~/assets/EkonoMe.svg'

---

<section class="relative h-full pt-10 bg-black px-10">
  <Starfield />

  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex gap-16 flex-col md:flex-row justify-center h-full place-items-center ">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Image src={logo} alt="logo" class="w-[40rem]" />
      <div
        class="text-center font-extrabold tracking-tighter text-8xl"
      >
      Prata med en
      ekonom
      direkt i
      mobilen
      .
      </div>
    </h2>

      <Image
        src={hem}
        alt="hem"
        loading="eager"
        class={`hidden md:flex md:w-80   object-cover`}
      />

  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
